@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-variant-ligatures: none;

  @apply border-current;
}

#root {
  @apply antialiased;
}

#root.hide-icons .ph {
  @apply hidden;
}

#root.underline-links a {
  @apply underline underline-offset-2;
}

.wysiwyg {
  @apply prose max-w-none text-current prose-headings:mt-0 prose-headings:mb-2 prose-p:mt-0 prose-p:mb-2 prose-ul:mt-0 prose-ul:mb-2 prose-li:mt-0 prose-li:mb-2 prose-ol:mt-0 prose-ol:mb-2 prose-img:mt-0 prose-img:mb-2 prose-hr:mt-0 prose-hr:mb-2 prose-p:leading-normal prose-li:leading-normal;
}
