<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset Password | Reactive Resume</title>

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='https://fonts.googleapis.com/css2?family=Inter&display=swap' rel='stylesheet' />

    <style>
      .container { margin: 0; padding: 48px 0; color: #eee; font-size: 14px; background-color: #222;
      font-family: 'Inter', sans-serif; display: flex; align-items: center; justify-content: center;
      } .inner { display: flex; align-items: center; flex-direction: column; } .logo {
      padding-bottom: 32px; } .box { max-width: 640px; padding: 8px 16px; border-radius: 4px;
      border: 1px solid #444; } .paragraph { line-height: 1.75em; } .button { display: inline-block;
      color: #222; margin: 6px 0; background-color: #eee; padding: 10px 16px; border-radius: 4px;
      text-decoration: none; } .footer { opacity: 0.5; align-self: flex-start; margin-top: 16px;
      max-width: 420px; font-size: 12px; } .footer span { display: block; line-height: 1.75em; }
    </style>
  </head>

  <body class='container'>

    <div class='inner'>
      <a href='https://rxresu.me'>
        <img
          class='logo'
          src='https://raw.githubusercontent.com/AmruthPillai/Reactive-Resume/develop/static/images/logo.png'
          alt='Reactive Resume'
          width='128px'
        />
      </a>

      <div class='box'>
        <p class='paragraph'>Hey {{name}},</p>

        <p class='paragraph'>
          Trouble signing in? Don't worry, resetting your password is easy.
          <br />
          We'll have you up and running in no time.
        </p>

        <p class='paragraph'>
          Just click the button below to set a new password.
          <br />
          But hurry, because the link expires in 30 minutes.
        </p>

        <a class='button' href={{url}} target='_blank'>
          Reset your password
        </a>

        <p class='paragraph'>If you did not request to change your password, then you can safely
          ignore this email.</p>
      </div>

      <footer class='footer'>
        <span>By the community, for the community.</span>
        <span>Thank you for using Reactive Resume.</span>
      </footer>
    </div>

  </body>

</html>