.container {
  @apply m-4 grid gap-6 sm:mx-6;

  header {
    @apply flex items-center justify-between;
  }
}

.resumes {
  @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6;
}
