.container {
  @apply m-8 flex flex-col items-start lg:items-center;
}

.download {
  @apply fixed bottom-6 right-6 z-50;

  button {
    @apply flex gap-2 px-4 py-3 shadow dark:bg-zinc-600/25;
    @apply rounded-full transition-colors;

    &:hover {
      @apply dark:bg-zinc-500/25;
    }
  }
}

.footer {
  @apply mt-6 text-center text-xs font-medium opacity-50;
}
