# Android App
/app

# Build Artifacts
/schema/dist
/server/dist
/client/.next

# IDEs
.vscode

# Project Metadata
.crowdin.yml

# Documentation
README.md
SECURITY.md
CHANGELOG.md
CODE_OF_CONDUCT.md

# Project Dependencies
**/node_modules

# Docker
Dockerfile
.dockerignore
docker-compose.yml
