!README.md
.dockerignore
.DS_Store
.editorconfig
.eslint*
.git
.github
.gitignore
.husky
.nx
.prettier*
.vscode
*.env*
*.md
compose*.yml
dist
Dockerfile
node_modules
Thumbs.db
tmp
tools/compose/*
tools/scripts/*