# Android App
/app

# Schema
schema/dist

# Server
server/dist

# Client
client/.next
client/public/__ENV.js

# IDEs
.vscode

# Project Metadata
LICENSE
README.md
CHANGELOG.md

# Project Dependencies
node_modules
pnpm-lock.yaml

# Docker
Dockerfile
.dockerignore
docker-compose.yml