.circle {
  width: 60px;
  height: 60px;
  flex: 0 0 60px;

  @apply flex items-center justify-center cursor-pointer bg-primary-200 text-primary-500 rounded-full;
  @apply transition-opacity duration-200 ease-in-out;
}

.circle:focus {
  @apply outline-none;
}

.circle:hover {
  @apply opacity-75;
  @apply transition-opacity duration-200 ease-in-out;
}
