:root {
  --color-primary-50: #FFFFFF;
  --color-primary-100: #FAFAFA;
  --color-primary-200: #F1F0F0;
  --color-primary-300: #D8D2CD;
  --color-primary-400: #CDC4BA;
  --color-primary-500: #ABA59D;
  --color-primary-600: #8A8680;
  --color-primary-700: #686663;
  --color-primary-800: #484745;
  --color-primary-900: #282727;
}