@import "~react-loader-spinner/dist/loader/css/react-spinner-loader.css";

:root {
  @apply transition-colors duration-200 ease-in-out;
}

html,
body {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  @apply text-primary bg-inverse;
}

p {
  @apply text-justify leading-loose;
}

a {
  @apply text-blue-600 font-medium;
}

a:hover {
  @apply underline;
}

hr {
  @apply w-full border-secondary h-1;
}

section {
  @apply grid grid-cols-1 gap-8;
}
