html,
body {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;

  @apply text-primary-900 bg-primary-50;
  @apply transition-colors duration-200 ease-in-out;
}

a {
  @apply font-semibold;
}

a:hover {
  @apply underline;
}

hr {
  @apply w-full border-primary-200 h-1;
}

ul {
  @apply list-disc list-inside;
}

section {
  @apply grid grid-cols-1 gap-8;
}

.MuiTooltip-tooltip {
  font-size: 10px;
}

.MuiMenuItem-root {
  justify-content: center;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.markdown {
  @apply leading-relaxed whitespace-pre-wrap;
}

.markdown ul {
  list-style: disc;
  list-style-position: outside;
  padding-left: 1.5em;
}

input[type="range"]::-webkit-slider-thumb {
  cursor: ew-resize;
  box-shadow: -405px 0 0 400px #605e5c;

  @apply w-4 h-4 bg-white rounded-full appearance-none;
}

@page {
  margin: 0;
}

@media print {
  html,
  body {
    background-color: white;
  }

  html,
  body,
  body * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    visibility: hidden;
  }

  #page,
  #page * {
    visibility: visible;
  }

  #page {
    width: 21cm;
    min-height: 29.7cm;
    position: absolute;
    text-align: start;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;
  }
}
