html,
body {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;

  @apply text-primary-900 bg-primary-50;
  @apply transition-colors duration-200 ease-in-out;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px grey;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
  outline: 1px solid slategrey;
}

a {
  @apply font-semibold;
}

a:hover {
  @apply underline;
}

hr {
  @apply w-full h-1 border-primary-200;
}

ul {
  @apply list-disc list-inside;
}

section {
  @apply grid grid-cols-1 gap-8;
}

.MuiTooltip-tooltip {
  font-size: 10px;
}

.MuiMenuItem-root {
  justify-content: center;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.markdown {
  @apply leading-relaxed;
}

.markdown ul {
  list-style: disc;
  list-style-position: outside;
  padding-left: 1.5em;
}

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.markdown table th {
  font-weight: bold;
}

.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.markdown table tr .odd {
  background-color: #f8f8f8;
}

.markdown table tr .fail {
  background-color: #f9f2f4;
  color: #c7254e;
  font-weight: bold;
}

.markdown table tr .pass {
  background-color: #dff0d8;
  color: #468847;
  font-weight: bold;
}

.markdown table tr .warn {
  background-color: #fcf8e3;
  color: #ec971f;
  font-weight: bold;
}

input[type='range']::-webkit-slider-thumb {
  cursor: ew-resize;
  box-shadow: -405px 0 0 400px #605e5c;

  @apply w-4 h-4 bg-white rounded-full appearance-none;
}

@page {
  margin: 0;
}

@media print {
  html,
  body {
    background-color: white;
  }

  html,
  body,
  body * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    visibility: hidden;
  }

  #page,
  #page * {
    visibility: visible;
  }

  #page {
    width: 21cm;
    min-height: 29.7cm;
    position: absolute;
    text-align: start;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;
  }
}
