:root {
  --shadow: 0 0 6px 0 rgba(0, 0, 0, 0.05);
  --shadow-strong: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  --left-shadow: 6px 0 6px -6px rgba(0, 0, 0, 0.05);
  --right-shadow: -6px 0 6px -6px rgba(0, 0, 0, 0.05);
  --bottom-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.05);
}
