.container {
  @apply relative h-screen w-screen overflow-hidden flex items-start justify-center;
}

.left {
  width: calc(100vw / 4);
  box-shadow: var(--left-shadow);
  @apply bg-primary-50 absolute top-0 bottom-0 left-0 z-10;
}

.center {
  @apply relative z-0 h-screen overflow-scroll;
}

.right {
  width: calc(100vw / 4);
  box-shadow: var(--right-shadow);
  @apply bg-primary-50 absolute top-0 bottom-0 right-0 z-10;
}
