.list-item {
  @apply flex items-center justify-between border-t border-primary-200 px-6 py-5;
}

.list-item:first-child {
  @apply border-t-0;
}

.menu {
  @apply opacity-0;
  @apply transition-opacity duration-200 ease-in-out;
}

.list-item:hover .menu {
  @apply opacity-100;
  @apply transition-opacity duration-200 ease-in-out;
}
