html,
body {
  height: 100%;
  color: #2d3748;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

@media screen {
  input:checked + i.material-icons {
    display: block;
  }

  #sidebar {
    top: 0;
    left: 0;
    bottom: 0;
  }

  #tabs::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }

  #tabs li:first-child {
    padding-left: 1.5em;
  }

  #tabs li:last-child {
    padding-right: 1.5em;
  }

  #page {
    width: 21cm;
    height: 29.7cm;
    zoom: 0.8;
    background-color: white;
    overflow: scroll;
  }
}

@media print {
  html,
  body,
  body * {
    -webkit-print-color-adjust: exact;
    background-color: white;
    visibility: hidden;
  }

  #page,
  #page * {
    visibility: visible;
  }

  #page {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: absolute;
    left: 0;
    top: 0;
  }
}
